<style>
    h1{color:red; text-align: center; text-decoration: underline}
  </style>
  
  {%extends 'base.html' %}
  {%load embed_video_tags %}
  
  {%block title %}class 11(ip) videos{%endblock title %}
  
  {%block body %}
  <div class="container-fluid px-0">
      <img src="/static/img/videos.jpg" class="d-block w-100" alt="book" height="250" >
  </div>
  <div class="container-fluid">
    <h1 class="mb-4"> Class 11th Informatics Practices Videos</h1>
    <div class="d-flex flex-wrap">
        {% for item in videos %}
        <div class="px-2 mb-5">
              {%video item.url '420x240'%}
          <div class="d-flex justify-content-start"> 
            {{item.title}}
          </div>
        
        </div> 
        {% endfor %}
     </div>
  </div> 
  <div>
      
    </div>
  {%endblock body %}