<style>
    h1{color:red; text-align: center;text-decoration: underline;}
    a.list-group-item {
      color: hotpink;
      background-color: antiquewhite;
      font-size: larger;
      
  }
  img{height: 250px;}
  </style>
    {%extends 'base.html' %}
    
    {%block title %}class 12(IP) Programs{%endblock title %}
    
    {%block body %}
    <div class="container-fluid px-0">
        <img src="/static/img/program.jpg" class="d-block w-100" alt="book">
    </div>
    <div class="container">
      <h1 class="text-center">Informatics Practices Programs</h1>
    </div>
    <div class="list-group my-4">
      <div class="row mx-2">
        <div class="col"><a href="/static/programs/12(ip)/program/program1.py" class="list-group-item" >Program 1</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program2.py" class="list-group-item" >Program 2 </a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program3.py" class="list-group-item" >Program 3</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program4.py" class="list-group-item" >Program 4</a></div>
      </div>
      <div class="row mx-2">
        <div class="col"><a href="/static/programs/12(ip)/program/program5.py" class="list-group-item" >Program 5</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program6.py" class="list-group-item" >Program 6</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program7.py" class="list-group-item" >Program 7</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program8.py" class="list-group-item" >Program 8</a></div>
      </div>
      <div class="row mx-2">
        <div class="col"><a href="/static/programs/12(ip)/program/program9.py" class="list-group-item" >Program 9</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program10.py" class="list-group-item" >Program 10</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program11.py" class="list-group-item" >Program 11</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program12.py" class="list-group-item" >Program 12</a></div>
      </div>
      <div class="row mx-2">
        <div class="col"><a href="/static/programs/12(ip)/program/program16.py" class="list-group-item" >Program 13</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program17.py" class="list-group-item" >Program 14</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program18.py" class="list-group-item" >Program 15</a></div>
        <div class="col"><a href="/static/programs/12(ip)/program/program19.py" class="list-group-item" >Program 16</a></div>
      </div>
      <div class="row mx-2">
        <div class="col-6"><a href="/static/programs/12(ip)/program/spo.py" class="list-group-item" >Sports Project</a></div>
        <div class="col-6"><a href="/static/programs/12(ip)/program/student.py" class="list-group-item" >Student Project</a></div>
      </div>
    </div>
    {%endblock body %}