{%extends 'base.html' %}

{%block title %}course_material(class 9){%endblock title %}

{%block body %}
<div class="container-fluid px-0">
    <img src="/static/img/class.jpg" class="d-block w-100" alt="...." height="300">
</div>
<div class="container">
    <h1 class="text-center">Class 9th</h1>
      <div class="row">

        <div class="col">
            <div class="card" style="width: 15rem; border-color: black;border-width: 0.2rem;">
                <img src="/static/img/book.webp" class="card-img-top" alt="Ncert Books" height="150">
                <div class="card-body">
                  <h5 class="card-title">NCERT Book</h5>
                  <p class="card-text">Concept cover chapter wise.</p>
                  <a href="class9_book" class="btn btn-primary">Click</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 15rem; border-color: black;border-width: 0.2rem;">
                <img src="/static/img/videos.jpg" class="card-img-top" alt="Subject Videos" height="150">
                <div class="card-body">
                  <h5 class="card-title">Subject Videos</h5>
                  <p class="card-text">Subject related videos</p>
                  <a href="videos/class9_video" class="btn btn-primary">Click</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 15rem; border-color: black;border-width: 0.2rem;">
                <img src="/static/img/program.jpg" class="card-img-top" alt="Programs" height="150">
                <div class="card-body">
                  <h5 class="card-title">Programs</h5>
                  <p class="card-text">Programming codes</p>
                  <a href="#" class="btn btn-primary">Click</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 15rem; border-color: black;border-width: 0.2rem;">
                <img src="/static/img/sample.jpg" class="card-img-top" alt="Sample Papers" height="150">
                <div class="card-body">
                  <h5 class="card-title">Sample Papers</h5>
                  <p class="card-text">Sample Papers</p>
                  <a href="#" class="btn btn-primary">Click</a>
                </div>
              </div>
        </div>
      </div>
{%endblock body %}