<style>
  h1{color:red; text-align: center;}
  a.list-group-item {
    color: hotpink;
    background-color: antiquewhite;
    font-size: larger;
}
img{height: 250px;}
</style>
{%extends 'base.html' %}

{%block title %}Comp Sci class 11 book{%endblock title %}

{%block body %}
<div class="container-fluid px-0">
    <img src="/static/img/book.webp" class="d-block w-100" alt="book">
</div>
<div class="container">
  <h1 class="text-center">Computer Science Book</h1>
</div>
<div class="list-group my-3">
    <a href="/static/books/compsci_class11/one.pdf" class="list-group-item ">1. Chapter 1</a>
    <a href="/static/books/compsci_class11/two.pdf" class="list-group-item ">2. Chapter 2</a>
    <a href="/static/books/compsci_class11/three.pdf" class="list-group-item ">3. Chapter 3</a>
    <a href="/static/books/compsci_class11/four.pdf" class="list-group-item ">4. Chapter 4</a>
    <a href="/static/books/compsci_class11/five.pdf" class="list-group-item ">5. Chapter 5</a>
    <a href="/static/books/compsci_class11/six.pdf" class="list-group-item ">6. Chapter 6</a>
    <a href="/static/books/compsci_class11/seven.pdf" class="list-group-item ">7. Chapter 7</a>
    <a href="/static/books/compsci_class11/eight.pdf" class="list-group-item ">8. Chapter 8</a>
    <a href="/static/books/compsci_class11/nine.pdf" class="list-group-item ">9. Chapter 9</a>
    <a href="/static/books/compsci_class11/ten.pdf" class="list-group-item ">10. Chapter 10</a>
    <a href="/static/books/compsci_class11/eleven.pdf" class="list-group-item ">11. Chapter 11</a>
    <a href="/static/books/compsci_class11/twelve.pdf" class="list-group-item ">12. Chapter 12</a>
    <a href="/static/books/compsci_class11/thirteen.pdf" class="list-group-item ">13. Chapter 13</a>
    <a href="/static/books/compsci_class11/forteen.pdf" class="list-group-item ">14. Chapter 14</a>
    <a href="/static/books/compsci_class11/fifteen.pdf" class="list-group-item ">15. Chapter 15</a>
    <a href="/static/books/compsci_class11/sixteen.pdf" class="list-group-item ">16. Chapter 16</a>
    <a href="/static/books/compsci_class11/seventeen.pdf" class="list-group-item ">17. Chapter 17</a>
    <a href="/static/books/compsci_class11/eighteen.pdf" class="list-group-item ">18. Chapter 18</a>
  </div>
{%endblock body %}